@font-face {
    font-family: 'CeraProBold';
    src: url('./assets/fonte/Cera Pro Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'CeraProMedium';
    src: url('./assets/fonte/Cera Pro Medium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'CeraProBold';
    src: url('./assets/fonte/Cera Pro Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'CeraProRegular';
    src: url('./assets/fonte/Cera Pro Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  

/* Navbar styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: white;
}

.navbar-left img {
    width: 80px;
}

.hamburger-menu {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding: 10px;
}

.menu-bar {
    width: 30px;
    height: 3px;
    background-color: black;
    margin: 3px 0;
}

.menu-options {
    display: none;
}

/* Cover styles */
.cover {
    position: relative;
    text-align: center;
    padding-top: 20px; /* Removendo o padding para que o conteúdo cubra toda a capa */
}

.cover-content {
    position: absolute; /* Posição absoluta para sobrepor a imagem */
    top: 50%; /* Posiciona o conteúdo no meio vertical */
    transform: translate(0%, -50%); /* Centraliza o conteúdo */
    z-index: 1;
    padding: 20px; /* Adicionando um espaçamento interno ao conteúdo */
    color: white;
    font-size: 40px;
    font-family: 'CeraProBold', sans-serif;
}

.cover-content p {
    margin-bottom: 10px;
}

.cover h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

/* Footer styles */
footer {
    text-align: center;
    padding: 20px;
    font-family: 'CeraProMedium', sans-serif;
}

.footer-links ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alinha os itens à esquerda */
    margin-bottom: 10px;
    padding-left: 0; /* Remove o padding padrão da lista */
}

.footer-links li {
    margin: 10px 0;
    padding: 20px; /* Remove o padding padrão do item da lista */
}

.footer-links h2 {
    font-size: 25px;
    margin-bottom: 5px;
    font-family: 'CeraProBold', sans-serif;
    text-align: left; /* Alinha os títulos à esquerda */
}

.footer-links p {
    text-align: left; /* Alinha os textos à esquerda */
}


.text_below_folder{
    margin-top: 20px;
    margin-bottom: 45px;
    padding: 20px;
    font-family: 'CeraProMedium', sans-serif;
    font-size: 24px;
}

.footer-icon{
    padding: 50px;
}
#footer-icon{
    width: 80px;
}

.separador {
    border-bottom: 1px solid #ccc;
    width: 90%;
    margin: 5px auto; /* Centraliza horizontalmente com margem automática */
}


.footer-text {
    text-align: center; /* Centraliza o texto horizontalmente */
    margin: 20px ; /* Adiciona espaçamento acima e abaixo do texto */
}
 
.boxmap {
    width: calc(100% - 30px);
    height: 440px;
    border-radius: 20px;
    /* position: relative; */
  }
  /* Add a class to the map container to adjust its positioning */
.map-container {
    position: relative; /* Add this line to make it a reference for absolute positioning */
    overflow: hidden;
  }

  /* Estilos padrão para os filtros */
.filters {
    position: absolute;
    left: 10px;
    z-index: 1;
  }
  
#filters {
    flex-direction: column; /* Empilhar verticalmente em dispositivos móveis */
    align-items: stretch; /* Esticar na largura */
  }
  
  .map-align {
    display: flex;
    justify-content: center;
    align-items: center;
   
  }
  
  /* Adjust the position of the zoom buttons */
.zoom-buttons {
    position: absolute;
    top: 390px; /* Adjust the top position as needed */
    right: 10px; /* Adjust the right position as needed */
    z-index: 2;
  }
  
  
  .zoom-buttons button {
    width: 40px;
    height: 40px;
    margin-bottom: 5px;
    display: block;
  }
  
  .zoom-buttons img {
    width: 100%;
    height: 100%;
  }
  
  .mapa-popup hr {
    margin: 10px 0; /* Adjust the margin as needed */
    border: none;
    border-top: 1px solid #ccc; /* Line color and style */
  }
  
  /* Pras bolinhas dos filtros ficarem redondinhas*/
  .checkbox-container .checkbox {
    width: 20px !important;
    height: 20px !important;
    border-radius: 50%;
    margin-top: 8px;
  }
  .select.filter-option.cerapromedium{
    background-color: white;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 20px;
  }
  
  .checkbox-label {
    display: flex;
    align-items: center;
  }

  .flex-parent.flex-parent--row.px3{
    margin-left:-15px ;
    margin-right: 10px;
  }
  
  .checkbox-container {
    margin-left: 10px;    /* Espaço à esquerda dos checkboxes */
    background-color: white;
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 20px;
  }  
  .mapboxgl-ctrl-geocoder--input {
    padding: 6px 30px;
    margin-left: 5px;
  }
  .mapboxgl-popup-content {
    font: 400 15px/22px 'Source Sans Pro', 'Helvetica Neue', Sans-serif;
    text-align: left;
    padding: 5;
    width: 245px;
  }
  .mapboxgl-popup-content h3 {
    color: black;
    font-weight: 500;
    margin: 0;
    display: block;
  
  }
  .mapboxgl-ctrl-geocoder--input {
    display: none
  }
  .mapboxgl-ctrl-geocoder--icon {
    display: none
  }
  .mapboxgl-ctrl-bottom-left{
    display:none;
  }

  .mapboxgl-ctrl-bottom-right{
    display:none;
  }
  .mapa-popup .mapboxgl-popup-content {
    border-radius: 20px;
    padding-left: 22px;
    padding-right: 18px;
  }
  /* ta bugando o pop-up pra mobile? */
.mapboxgl-popup-close-button{
    margin-right: 10px;
    margin-top: 5px;
    font-size: 20px;
  }
  .select-arrow{
    display:none;
 }
 .select {
    font-size: 13.5px;
    padding-top: 9px;
    align-items: center;
    border: none;
    outline: none;
    box-shadow: none; 
    padding-left:20px;
    padding-bottom:8px;
    align-items: center;
  }
 
  .button-container {
    display: flex !important;
    justify-content: center !important;
    align-items: center;
  }

  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    border: 1px black;
  }
  .text-container {
    text-align: center;
    line-height: 120%;
    font-size: 40px; /* Tamanho do texto */
    font-family: 'CeraProMedium', sans-serif;
    color: black;
  }

  .button-box {
    display: flex;
    width: fit-content;
    justify-content: center;
    border-radius: 40px;
    border: 1px solid #ccc;
    overflow: hidden;
  }

  .page-btn .page-btn-saude .active{
    font-family: 'CeraProRegular', sans-serif;
  }
  
  .button-box button {
    flex: 1;
    outline: none;
  }
  
  .button-box button:first-child {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  
  .button-box button:last-child {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  /* Estilos para os botões de cada categoria */
.page-btn-saude.active {
    background-color: #754EA6; /* Vermelho para a categoria "Saúde" */
  }
  
  .page-btn-infra.active {
    background-color: #4E81A6; /* Azul para a categoria "Infraestrutura" */
  }
  
  .page-btn-habit.active {
    background-color: #6FA64E; /* Verde para a categoria "Habitação" */
  }
  
  .page-btn-transp.active {
    background-color: #D2B64B; /* Amarelo para a categoria "Transporte" */
  }
  
  /* Estilo para as letras dos botões ativos */
  .page-btn.active {
    color: white;
  }
  
  .page-btn {
    background-color: white;
    color: black;
    font-size: 15px;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    padding: 8px 10px 8px 10px;
    cursor: pointer;
    font-family: 'CeraProRegular', sans-serif;
    transition: background-color 0.3s; /* Transição suave para a mudança de cor */
  }

  /* Adicione esses estilos para personalizar o ícone do Bootstrap */
.custom-toggler {
    background-color: transparent;
    border: none;
}

.custom-toggler .hamburger-menu {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    /* padding: 10px; */
}

.custom-toggler .menu-bar {
    /* width: 30px;
    height: 3px; */
    background-color: black;
    /* margin: 3px 0; */
}
.navbar-toggler{
    border: none !important;
}
.image-container {
  position: relative;
  display: inline-block;
  margin-right: 20px;
  margin-left: 20px;
}


.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: none;
  border: none;
  cursor: pointer;
}

.overlay-image {
  position: absolute;
  top: 130%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: none;
  border: none;
  cursor: pointer;
}

/* Estilo para o overlay de fundo escuro */
#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

/* Estilo para o contêiner de vídeo no popup */
#video-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Estilo para o botão de fechar */
#close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #fff;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  z-index: 1001;
}

/* Estilo para o iframe do YouTube */
#youtube-video {
  width: 100%;
  height: 100%;
}

/* Estilo opcional para o botão de reprodução */
.play-button {
  /* Adicione estilos personalizados para o botão de reprodução aqui */
}
